services:
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8001:8000"
    environment:
      - PG_USER_DSN=${PG_USER_DSN}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - TTL_SECONDS=${TTL_SECONDS}
    depends_on:
      user-postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./user-service:/app
    networks:
      - scheduling-network
  game-service:
    build:
      context: ./game-service
      dockerfile: Dockerfile
    container_name: game-service
    ports:
      - "8002:8000"
    environment:
      - PG_GAME_DSN=${PG_GAME_DSN}
    depends_on:
      game-postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./game-service:/app
    networks:
      - scheduling-network
  assignment-service:
    build:
      context: ./assignment-service
      dockerfile: Dockerfile
    container_name: assignment-service
    ports:
      - "8003:8000"
    environment:
      - USER_SERVICE_BASE=http://user-service:8000
      - GAME_SERVICE_BASE=http://game-service:8000
      - PG_ASSIGNMENT_DSN=${PG_ASSIGNMENT_DSN}
    depends_on:
      user-service:
        condition: service_healthy
      game-service:
        condition: service_healthy
      assignment-postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./assignment-service:/app
    networks:
      - scheduling-network
  user-postgres:
    image: postgres:16-alpine
    container_name: user-postgres
    environment:
      POSTGRES_DB: ${USER_POSTGRES_DB}
      POSTGRES_USER: ${USER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${USER_POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata-user:/var/lib/postgresql/user-data
    networks:
      - scheduling-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${USER_POSTGRES_USER}", "-d", "${USER_POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 5
  game-postgres:
    image: postgres:16-alpine
    container_name: game-postgres
    environment:
      POSTGRES_DB: ${GAME_POSTGRES_DB}
      POSTGRES_USER: ${GAME_POSTGRES_USER}
      POSTGRES_PASSWORD: ${GAME_POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata-game:/var/lib/postgresql/game-data
    networks:
      - scheduling-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${GAME_POSTGRES_USER}", "-d", "${GAME_POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 5
  assignment-postgres:
    image: postgres:16-alpine
    container_name: assignment-postgres
    environment:
      POSTGRES_DB: ${ASSIGNMENT_POSTGRES_DB}
      POSTGRES_USER: ${ASSIGNMENT_POSTGRES_USER}
      POSTGRES_PASSWORD: ${ASSIGNMENT_POSTGRES_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - pgdata-assignment:/var/lib/postgresql/assignment-data
    networks:
      - scheduling-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${ASSIGNMENT_POSTGRES_USER}", "-d", "${ASSIGNMENT_POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 5
  redis:
    image: redis:7-alpine
    command: [ "redis-server", "--appendonly", "yes" ]
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - scheduling-network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 2s
      retries: 10

volumes:
  pgdata-user:
  pgdata-game:
  pgdata-assignment:


networks:
  scheduling-network:
    driver: bridge
