services:
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8001:8000"
    environment:
      - PG_DSN=${PG_DSN}
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - scheduling-network
  game-service:
    build:
      context: ./game-service
      dockerfile: Dockerfile
    container_name: game-service
    ports:
      - "8002:8000"
    # environment:  Empty for now
    # depends_on:  No dependencies for now
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  assignment-service:
    build:
      context: ./assignment-service
      dockerfile: Dockerfile
    container_name: assignment-service
    ports:
      - "8003:8000"
    environment:
      - USER_SERVICE_BASE=http://user-service:8000
      - GAME_SERVICE_BASE=http://game-service:8000
    depends_on:
      user-service:
        condition: service_healthy
      game-service:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - scheduling-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 5

networks:
  scheduling-network:
    driver: bridge
